
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function getRole(userId) {
      // O perfil é armazenado em /users/{userId}/profile/profileDoc
      return get(/databases/$(database)/documents/users/$(userId)/profile/profileDoc).data.role;
    }

    function isAdmin(userId) {
      return isSignedIn() && (getRole(userId) == 'admin');
    }

    // Coleções Privadas por Usuário
    match /users/{userId} {
      allow get: if isOwner(userId);
      allow create: if isSignedIn(); // Permite criar o próprio documento de usuário no login
      
      match /profile/profileDoc {
        allow read: if isOwner(userId);
        allow write: if isOwner(userId) || isAdmin(request.auth.uid);
      }

      match /demands/{demandId} {
        allow read, write: if isOwner(userId);
      }
    }

    // Coleções Globais da Organização (Root Collections)
    match /categories/{categoryId} {
      allow read: if isSignedIn();
      allow write: if isAdmin(request.auth.uid);
    }
    
    match /units/{unitId} {
      allow read: if isSignedIn();
      allow write: if isAdmin(request.auth.uid);
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
